:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff; /* Standard Blue */
  --button-bg-color: #007bff;
  --button-text-color: #ffffff;
  --border-color: #cccccc;
  --highlight-bg-color: #fffacd; /* LemonChiffon */
  --highlight-text-color: #000000;
  --footer-bg-color: #e0e0e0;
  --footer-text-color: #555555;
}

[data-theme='dark'] {
  --background-color: #282c34;
  --text-color: #ffffff;
  --primary-color: #9de0ff; /* Light Blue */
  --button-bg-color: #9de0ff;
  --button-text-color: #282c34;
  --border-color: #555555;
  --highlight-bg-color: #61dafb; /* Light Blue */
  --highlight-text-color: #282c34;
  --footer-bg-color: #1a1a1a;
  --footer-text-color: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
